server:
  port: 8080

spring:
  data:
    elasticsearch:
      repositories:
        enabled: true
        refresh-policy: none
  elasticsearch:
    uris: http://127.0.0.1:9200
    connection-timeout: 5s
    socket-timeout: 30s

  datasource:
    url: jdbc:postgresql://localhost:5432/knowledge_base
    username: user
    password:
    driver-class-name: org.postgresql.Driver

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        format_sql: true

logging:
  level:
    org.springframework.data.elasticsearch.client.WIRE: trace